
{% extends 'mi_web/base.html' %}

{% block cuerpo %}
    <br>
    <h1> Sistema de Busqueda de PROVEEDORES en Base de Datos </h1>
    <br>
    {% if busqueda_proveedor %}
        <form action="" method="GET">
        {% csrf_token %}

            {{ busqueda_proveedor }}

            <input type="submit", value="Enviar">
    
        </form>

    {% else %}
        {% if busqueda_proveedor %}
        <ul>
            {% for proveedor in busqueda_proveedor %}
                <li>{{proveedor.nombre}}</li>
            {% endfor %}
        </ul>
        {% else %}
            <h1> No Hay Resultados con ese Criterio </h1>
        {% endif %}

    {% endif %}

    <br>
{% endblock %}